<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywl.mapper.GspwLoadScoreMapper">

    <resultMap id="BaseResultMap" type="com.ywl.domain.GspwLoadScore">
            <id property="scoreId" column="score_id" jdbcType="INTEGER"/>
            <result property="scoreProjectName" column="score_project_name" jdbcType="VARCHAR"/>
            <result property="scoreProjectId" column="score_project_id" jdbcType="INTEGER"/>
            <result property="scoreContractor" column="score_contractor" jdbcType="VARCHAR"/>
            <result property="scoreContractorCode" column="score_contractor_code" jdbcType="VARCHAR"/>
            <result property="scoreOwnerGrade" column="score_owner_grade" jdbcType="INTEGER"/>
            <result property="scoreCityGrade" column="score_city_grade" jdbcType="INTEGER"/>
            <result property="scoreDeptName" column="score_dept_name" jdbcType="VARCHAR"/>
            <result property="scoreDeptCode" column="score_dept_code" jdbcType="VARCHAR"/>
            <result property="scoreGroup" column="score_group" jdbcType="VARCHAR"/>
            <result property="scoreGroupCode" column="score_group_code" jdbcType="VARCHAR"/>
            <result property="scoreTotal" column="score_total" jdbcType="VARCHAR"/>
            <result property="scoreTime" column="score_time" jdbcType="VARCHAR"/>
            <result property="scoreState" column="score_state" jdbcType="INTEGER"/>
            <result property="scoreOrgcode" column="score_orgcode" jdbcType="VARCHAR"/>
            <result property="scoreOrgcitycode" column="score_orgcitycode" jdbcType="VARCHAR"/>
            <result property="deleteMark" column="delete_mark" jdbcType="VARCHAR"/>
            <result property="selectState" column="select_state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        score_id,score_project_name,score_project_id,score_contractor,score_contractor_code,score_owner_grade,
        score_city_grade,score_dept_name,score_dept_code,score_group,score_group_code,
        score_total,score_time,score_state,score_orgcode,score_orgcitycode,
        delete_mark,select_state
    </sql>
</mapper>
