<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywl.mapper.GspwOrgnatureMapper">

    <resultMap id="BaseResultMap" type="com.ywl.domain.GspwOrgnature">
            <id property="natureId" column="nature_id" jdbcType="INTEGER"/>
            <result property="natureOrgname" column="nature_orgname" jdbcType="VARCHAR"/>
            <result property="natureName" column="nature_name" jdbcType="VARCHAR"/>
            <result property="natureAbbreviation" column="nature_abbreviation" jdbcType="VARCHAR"/>
            <result property="natureCode" column="nature_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        nature_id,nature_orgname,nature_name,nature_abbreviation,nature_code
    </sql>
</mapper>
