<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GspwOrgnatureMapper">
    <resultMap id="BaseResultMap" type="ywl.dto.GspwOrgnature">
        <id column="nature_id" jdbcType="INTEGER" property="natureId"/>
        <result column="nature_orgname" jdbcType="VARCHAR" property="natureOrgname"/>
        <result column="nature_name" jdbcType="VARCHAR" property="natureName"/>
        <result column="nature_abbreviation" jdbcType="VARCHAR" property="natureAbbreviation"/>
        <result column="nature_code" jdbcType="VARCHAR" property="natureCode"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        nature_id, nature_orgname, nature_name, nature_abbreviation, nature_code
    </sql>
    <select id="selectByExample" parameterType="ywl.dto.GspwOrgnatureExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from gspw_orgnature
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gspw_orgnature
        where nature_id = #{natureId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from gspw_orgnature
        where nature_id = #{natureId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="ywl.dto.GspwOrgnatureExample">
        delete from gspw_orgnature
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="ywl.dto.GspwOrgnature">
        insert into gspw_orgnature (nature_id, nature_orgname, nature_name,
                                    nature_abbreviation, nature_code)
        values (#{natureId,jdbcType=INTEGER}, #{natureOrgname,jdbcType=VARCHAR}, #{natureName,jdbcType=VARCHAR},
                #{natureAbbreviation,jdbcType=VARCHAR}, #{natureCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="ywl.dto.GspwOrgnature">
        insert into gspw_orgnature
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="natureId != null">
                nature_id,
            </if>
            <if test="natureOrgname != null">
                nature_orgname,
            </if>
            <if test="natureName != null">
                nature_name,
            </if>
            <if test="natureAbbreviation != null">
                nature_abbreviation,
            </if>
            <if test="natureCode != null">
                nature_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="natureId != null">
                #{natureId,jdbcType=INTEGER},
            </if>
            <if test="natureOrgname != null">
                #{natureOrgname,jdbcType=VARCHAR},
            </if>
            <if test="natureName != null">
                #{natureName,jdbcType=VARCHAR},
            </if>
            <if test="natureAbbreviation != null">
                #{natureAbbreviation,jdbcType=VARCHAR},
            </if>
            <if test="natureCode != null">
                #{natureCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="ywl.dto.GspwOrgnatureExample" resultType="java.lang.Long">
        select count(*) from gspw_orgnature
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update gspw_orgnature
        <set>
            <if test="record.natureId != null">
                nature_id = #{record.natureId,jdbcType=INTEGER},
            </if>
            <if test="record.natureOrgname != null">
                nature_orgname = #{record.natureOrgname,jdbcType=VARCHAR},
            </if>
            <if test="record.natureName != null">
                nature_name = #{record.natureName,jdbcType=VARCHAR},
            </if>
            <if test="record.natureAbbreviation != null">
                nature_abbreviation = #{record.natureAbbreviation,jdbcType=VARCHAR},
            </if>
            <if test="record.natureCode != null">
                nature_code = #{record.natureCode,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update gspw_orgnature
        set nature_id = #{record.natureId,jdbcType=INTEGER},
        nature_orgname = #{record.natureOrgname,jdbcType=VARCHAR},
        nature_name = #{record.natureName,jdbcType=VARCHAR},
        nature_abbreviation = #{record.natureAbbreviation,jdbcType=VARCHAR},
        nature_code = #{record.natureCode,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="ywl.dto.GspwOrgnature">
        update gspw_orgnature
        <set>
            <if test="natureOrgname != null">
                nature_orgname = #{natureOrgname,jdbcType=VARCHAR},
            </if>
            <if test="natureName != null">
                nature_name = #{natureName,jdbcType=VARCHAR},
            </if>
            <if test="natureAbbreviation != null">
                nature_abbreviation = #{natureAbbreviation,jdbcType=VARCHAR},
            </if>
            <if test="natureCode != null">
                nature_code = #{natureCode,jdbcType=VARCHAR},
            </if>
        </set>
        where nature_id = #{natureId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ywl.dto.GspwOrgnature">
        update gspw_orgnature
        set nature_orgname      = #{natureOrgname,jdbcType=VARCHAR},
            nature_name         = #{natureName,jdbcType=VARCHAR},
            nature_abbreviation = #{natureAbbreviation,jdbcType=VARCHAR},
            nature_code         = #{natureCode,jdbcType=VARCHAR}
        where nature_id = #{natureId,jdbcType=INTEGER}
    </update>
</mapper>