<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywl.mapper.GspwConstructionplanMapper">
    <resultMap id="BaseResultMap" type="com.ywl.dto.GspwConstructionplan">
        <id column="constructionPlan_id" jdbcType="INTEGER" property="constructionplanId"/>
        <result column="surveyInfo_id" jdbcType="INTEGER" property="surveyinfoId"/>
        <result column="constructionPlan_content" jdbcType="VARCHAR" property="constructionplanContent"/>
        <result column="constructionPlan_startTime" jdbcType="TIMESTAMP" property="constructionplanStarttime"/>
        <result column="constructionPlan_endTime" jdbcType="TIMESTAMP" property="constructionplanEndtime"/>
        <result column="archives_name" jdbcType="VARCHAR" property="archivesName"/>
        <result column="archives_id" jdbcType="INTEGER" property="archivesId"/>
        <result column="constructionPlan_addr" jdbcType="VARCHAR" property="constructionplanAddr"/>
        <result column="constructionPlan_number" jdbcType="INTEGER" property="constructionplanNumber"/>
        <result column="taskid" jdbcType="VARCHAR" property="taskid"/>
        <result column="constructionPlan_state" jdbcType="VARCHAR" property="constructionplanState"/>
        <result column="constructionPlan_kind" jdbcType="INTEGER" property="constructionplanKind"/>
        <result column="flowaudit_startDate" jdbcType="TIMESTAMP" property="flowauditStartdate"/>
        <result column="deleteMark" jdbcType="INTEGER" property="deletemark"/>
        <result column="super_visor" jdbcType="INTEGER" property="superVisor"/>
        <result column="supervisor_name" jdbcType="VARCHAR" property="supervisorName"/>
        <result column="people_ids" jdbcType="VARCHAR" property="peopleIds"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_state" jdbcType="INTEGER" property="updateState"/>
        <result column="safetyOfficer_name" jdbcType="VARCHAR" property="safetyofficerName"/>
        <result column="technician_name" jdbcType="VARCHAR" property="technicianName"/>
        <result column="safety_officer" jdbcType="INTEGER" property="safetyOfficer"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="technician" jdbcType="INTEGER" property="technician"/>
        <result column="supervisor_orgcode" jdbcType="VARCHAR" property="supervisorOrgcode"/>
        <result column="supervisor_orgname" jdbcType="VARCHAR" property="supervisorOrgname"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        constructionPlan_id, surveyInfo_id, constructionPlan_content, constructionPlan_startTime,
    constructionPlan_endTime, archives_name, archives_id, constructionPlan_addr, constructionPlan_number, 
    taskid, constructionPlan_state, constructionPlan_kind, flowaudit_startDate, deleteMark, 
    super_visor, supervisor_name, people_ids, update_time, update_state, safetyOfficer_name, 
    technician_name, safety_officer, create_date, technician, supervisor_orgcode, supervisor_orgname
    </sql>
    <select id="selectByExample" parameterType="com.ywl.dto.GspwConstructionplanExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from gspw_constructionplan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gspw_constructionplan
        where constructionPlan_id = #{constructionplanId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from gspw_constructionplan
        where constructionPlan_id = #{constructionplanId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.ywl.dto.GspwConstructionplanExample">
        delete from gspw_constructionplan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ywl.dto.GspwConstructionplan">
        insert into gspw_constructionplan (constructionPlan_id, surveyInfo_id,
                                           constructionPlan_content, constructionPlan_startTime,
                                           constructionPlan_endTime, archives_name,
                                           archives_id, constructionPlan_addr, constructionPlan_number,
                                           taskid, constructionPlan_state, constructionPlan_kind,
                                           flowaudit_startDate, deleteMark, super_visor,
                                           supervisor_name, people_ids, update_time,
                                           update_state, safetyOfficer_name, technician_name,
                                           safety_officer, create_date, technician,
                                           supervisor_orgcode, supervisor_orgname)
        values (#{constructionplanId,jdbcType=INTEGER}, #{surveyinfoId,jdbcType=INTEGER},
                #{constructionplanContent,jdbcType=VARCHAR}, #{constructionplanStarttime,jdbcType=TIMESTAMP},
                #{constructionplanEndtime,jdbcType=TIMESTAMP}, #{archivesName,jdbcType=VARCHAR},
                #{archivesId,jdbcType=INTEGER}, #{constructionplanAddr,jdbcType=VARCHAR},
                #{constructionplanNumber,jdbcType=INTEGER},
                #{taskid,jdbcType=VARCHAR}, #{constructionplanState,jdbcType=VARCHAR},
                #{constructionplanKind,jdbcType=INTEGER},
                #{flowauditStartdate,jdbcType=TIMESTAMP}, #{deletemark,jdbcType=INTEGER},
                #{superVisor,jdbcType=INTEGER},
                #{supervisorName,jdbcType=VARCHAR}, #{peopleIds,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
                #{updateState,jdbcType=INTEGER}, #{safetyofficerName,jdbcType=VARCHAR},
                #{technicianName,jdbcType=VARCHAR},
                #{safetyOfficer,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{technician,jdbcType=INTEGER},
                #{supervisorOrgcode,jdbcType=VARCHAR}, #{supervisorOrgname,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ywl.dto.GspwConstructionplan">
        insert into gspw_constructionplan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="constructionplanId != null">
                constructionPlan_id,
            </if>
            <if test="surveyinfoId != null">
                surveyInfo_id,
            </if>
            <if test="constructionplanContent != null">
                constructionPlan_content,
            </if>
            <if test="constructionplanStarttime != null">
                constructionPlan_startTime,
            </if>
            <if test="constructionplanEndtime != null">
                constructionPlan_endTime,
            </if>
            <if test="archivesName != null">
                archives_name,
            </if>
            <if test="archivesId != null">
                archives_id,
            </if>
            <if test="constructionplanAddr != null">
                constructionPlan_addr,
            </if>
            <if test="constructionplanNumber != null">
                constructionPlan_number,
            </if>
            <if test="taskid != null">
                taskid,
            </if>
            <if test="constructionplanState != null">
                constructionPlan_state,
            </if>
            <if test="constructionplanKind != null">
                constructionPlan_kind,
            </if>
            <if test="flowauditStartdate != null">
                flowaudit_startDate,
            </if>
            <if test="deletemark != null">
                deleteMark,
            </if>
            <if test="superVisor != null">
                super_visor,
            </if>
            <if test="supervisorName != null">
                supervisor_name,
            </if>
            <if test="peopleIds != null">
                people_ids,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateState != null">
                update_state,
            </if>
            <if test="safetyofficerName != null">
                safetyOfficer_name,
            </if>
            <if test="technicianName != null">
                technician_name,
            </if>
            <if test="safetyOfficer != null">
                safety_officer,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="technician != null">
                technician,
            </if>
            <if test="supervisorOrgcode != null">
                supervisor_orgcode,
            </if>
            <if test="supervisorOrgname != null">
                supervisor_orgname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="constructionplanId != null">
                #{constructionplanId,jdbcType=INTEGER},
            </if>
            <if test="surveyinfoId != null">
                #{surveyinfoId,jdbcType=INTEGER},
            </if>
            <if test="constructionplanContent != null">
                #{constructionplanContent,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanStarttime != null">
                #{constructionplanStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="constructionplanEndtime != null">
                #{constructionplanEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="archivesName != null">
                #{archivesName,jdbcType=VARCHAR},
            </if>
            <if test="archivesId != null">
                #{archivesId,jdbcType=INTEGER},
            </if>
            <if test="constructionplanAddr != null">
                #{constructionplanAddr,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanNumber != null">
                #{constructionplanNumber,jdbcType=INTEGER},
            </if>
            <if test="taskid != null">
                #{taskid,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanState != null">
                #{constructionplanState,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanKind != null">
                #{constructionplanKind,jdbcType=INTEGER},
            </if>
            <if test="flowauditStartdate != null">
                #{flowauditStartdate,jdbcType=TIMESTAMP},
            </if>
            <if test="deletemark != null">
                #{deletemark,jdbcType=INTEGER},
            </if>
            <if test="superVisor != null">
                #{superVisor,jdbcType=INTEGER},
            </if>
            <if test="supervisorName != null">
                #{supervisorName,jdbcType=VARCHAR},
            </if>
            <if test="peopleIds != null">
                #{peopleIds,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateState != null">
                #{updateState,jdbcType=INTEGER},
            </if>
            <if test="safetyofficerName != null">
                #{safetyofficerName,jdbcType=VARCHAR},
            </if>
            <if test="technicianName != null">
                #{technicianName,jdbcType=VARCHAR},
            </if>
            <if test="safetyOfficer != null">
                #{safetyOfficer,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="technician != null">
                #{technician,jdbcType=INTEGER},
            </if>
            <if test="supervisorOrgcode != null">
                #{supervisorOrgcode,jdbcType=VARCHAR},
            </if>
            <if test="supervisorOrgname != null">
                #{supervisorOrgname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ywl.dto.GspwConstructionplanExample" resultType="java.lang.Long">
        select count(*) from gspw_constructionplan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update gspw_constructionplan
        <set>
            <if test="record.constructionplanId != null">
                constructionPlan_id = #{record.constructionplanId,jdbcType=INTEGER},
            </if>
            <if test="record.surveyinfoId != null">
                surveyInfo_id = #{record.surveyinfoId,jdbcType=INTEGER},
            </if>
            <if test="record.constructionplanContent != null">
                constructionPlan_content = #{record.constructionplanContent,jdbcType=VARCHAR},
            </if>
            <if test="record.constructionplanStarttime != null">
                constructionPlan_startTime = #{record.constructionplanStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.constructionplanEndtime != null">
                constructionPlan_endTime = #{record.constructionplanEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.archivesName != null">
                archives_name = #{record.archivesName,jdbcType=VARCHAR},
            </if>
            <if test="record.archivesId != null">
                archives_id = #{record.archivesId,jdbcType=INTEGER},
            </if>
            <if test="record.constructionplanAddr != null">
                constructionPlan_addr = #{record.constructionplanAddr,jdbcType=VARCHAR},
            </if>
            <if test="record.constructionplanNumber != null">
                constructionPlan_number = #{record.constructionplanNumber,jdbcType=INTEGER},
            </if>
            <if test="record.taskid != null">
                taskid = #{record.taskid,jdbcType=VARCHAR},
            </if>
            <if test="record.constructionplanState != null">
                constructionPlan_state = #{record.constructionplanState,jdbcType=VARCHAR},
            </if>
            <if test="record.constructionplanKind != null">
                constructionPlan_kind = #{record.constructionplanKind,jdbcType=INTEGER},
            </if>
            <if test="record.flowauditStartdate != null">
                flowaudit_startDate = #{record.flowauditStartdate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deletemark != null">
                deleteMark = #{record.deletemark,jdbcType=INTEGER},
            </if>
            <if test="record.superVisor != null">
                super_visor = #{record.superVisor,jdbcType=INTEGER},
            </if>
            <if test="record.supervisorName != null">
                supervisor_name = #{record.supervisorName,jdbcType=VARCHAR},
            </if>
            <if test="record.peopleIds != null">
                people_ids = #{record.peopleIds,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateState != null">
                update_state = #{record.updateState,jdbcType=INTEGER},
            </if>
            <if test="record.safetyofficerName != null">
                safetyOfficer_name = #{record.safetyofficerName,jdbcType=VARCHAR},
            </if>
            <if test="record.technicianName != null">
                technician_name = #{record.technicianName,jdbcType=VARCHAR},
            </if>
            <if test="record.safetyOfficer != null">
                safety_officer = #{record.safetyOfficer,jdbcType=INTEGER},
            </if>
            <if test="record.createDate != null">
                create_date = #{record.createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.technician != null">
                technician = #{record.technician,jdbcType=INTEGER},
            </if>
            <if test="record.supervisorOrgcode != null">
                supervisor_orgcode = #{record.supervisorOrgcode,jdbcType=VARCHAR},
            </if>
            <if test="record.supervisorOrgname != null">
                supervisor_orgname = #{record.supervisorOrgname,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update gspw_constructionplan
        set constructionPlan_id = #{record.constructionplanId,jdbcType=INTEGER},
        surveyInfo_id = #{record.surveyinfoId,jdbcType=INTEGER},
        constructionPlan_content = #{record.constructionplanContent,jdbcType=VARCHAR},
        constructionPlan_startTime = #{record.constructionplanStarttime,jdbcType=TIMESTAMP},
        constructionPlan_endTime = #{record.constructionplanEndtime,jdbcType=TIMESTAMP},
        archives_name = #{record.archivesName,jdbcType=VARCHAR},
        archives_id = #{record.archivesId,jdbcType=INTEGER},
        constructionPlan_addr = #{record.constructionplanAddr,jdbcType=VARCHAR},
        constructionPlan_number = #{record.constructionplanNumber,jdbcType=INTEGER},
        taskid = #{record.taskid,jdbcType=VARCHAR},
        constructionPlan_state = #{record.constructionplanState,jdbcType=VARCHAR},
        constructionPlan_kind = #{record.constructionplanKind,jdbcType=INTEGER},
        flowaudit_startDate = #{record.flowauditStartdate,jdbcType=TIMESTAMP},
        deleteMark = #{record.deletemark,jdbcType=INTEGER},
        super_visor = #{record.superVisor,jdbcType=INTEGER},
        supervisor_name = #{record.supervisorName,jdbcType=VARCHAR},
        people_ids = #{record.peopleIds,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        update_state = #{record.updateState,jdbcType=INTEGER},
        safetyOfficer_name = #{record.safetyofficerName,jdbcType=VARCHAR},
        technician_name = #{record.technicianName,jdbcType=VARCHAR},
        safety_officer = #{record.safetyOfficer,jdbcType=INTEGER},
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
        technician = #{record.technician,jdbcType=INTEGER},
        supervisor_orgcode = #{record.supervisorOrgcode,jdbcType=VARCHAR},
        supervisor_orgname = #{record.supervisorOrgname,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ywl.dto.GspwConstructionplan">
        update gspw_constructionplan
        <set>
            <if test="surveyinfoId != null">
                surveyInfo_id = #{surveyinfoId,jdbcType=INTEGER},
            </if>
            <if test="constructionplanContent != null">
                constructionPlan_content = #{constructionplanContent,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanStarttime != null">
                constructionPlan_startTime = #{constructionplanStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="constructionplanEndtime != null">
                constructionPlan_endTime = #{constructionplanEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="archivesName != null">
                archives_name = #{archivesName,jdbcType=VARCHAR},
            </if>
            <if test="archivesId != null">
                archives_id = #{archivesId,jdbcType=INTEGER},
            </if>
            <if test="constructionplanAddr != null">
                constructionPlan_addr = #{constructionplanAddr,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanNumber != null">
                constructionPlan_number = #{constructionplanNumber,jdbcType=INTEGER},
            </if>
            <if test="taskid != null">
                taskid = #{taskid,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanState != null">
                constructionPlan_state = #{constructionplanState,jdbcType=VARCHAR},
            </if>
            <if test="constructionplanKind != null">
                constructionPlan_kind = #{constructionplanKind,jdbcType=INTEGER},
            </if>
            <if test="flowauditStartdate != null">
                flowaudit_startDate = #{flowauditStartdate,jdbcType=TIMESTAMP},
            </if>
            <if test="deletemark != null">
                deleteMark = #{deletemark,jdbcType=INTEGER},
            </if>
            <if test="superVisor != null">
                super_visor = #{superVisor,jdbcType=INTEGER},
            </if>
            <if test="supervisorName != null">
                supervisor_name = #{supervisorName,jdbcType=VARCHAR},
            </if>
            <if test="peopleIds != null">
                people_ids = #{peopleIds,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateState != null">
                update_state = #{updateState,jdbcType=INTEGER},
            </if>
            <if test="safetyofficerName != null">
                safetyOfficer_name = #{safetyofficerName,jdbcType=VARCHAR},
            </if>
            <if test="technicianName != null">
                technician_name = #{technicianName,jdbcType=VARCHAR},
            </if>
            <if test="safetyOfficer != null">
                safety_officer = #{safetyOfficer,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="technician != null">
                technician = #{technician,jdbcType=INTEGER},
            </if>
            <if test="supervisorOrgcode != null">
                supervisor_orgcode = #{supervisorOrgcode,jdbcType=VARCHAR},
            </if>
            <if test="supervisorOrgname != null">
                supervisor_orgname = #{supervisorOrgname,jdbcType=VARCHAR},
            </if>
        </set>
        where constructionPlan_id = #{constructionplanId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ywl.dto.GspwConstructionplan">
        update gspw_constructionplan
        set surveyInfo_id              = #{surveyinfoId,jdbcType=INTEGER},
            constructionPlan_content   = #{constructionplanContent,jdbcType=VARCHAR},
            constructionPlan_startTime = #{constructionplanStarttime,jdbcType=TIMESTAMP},
            constructionPlan_endTime   = #{constructionplanEndtime,jdbcType=TIMESTAMP},
            archives_name              = #{archivesName,jdbcType=VARCHAR},
            archives_id                = #{archivesId,jdbcType=INTEGER},
            constructionPlan_addr      = #{constructionplanAddr,jdbcType=VARCHAR},
            constructionPlan_number    = #{constructionplanNumber,jdbcType=INTEGER},
            taskid                     = #{taskid,jdbcType=VARCHAR},
            constructionPlan_state     = #{constructionplanState,jdbcType=VARCHAR},
            constructionPlan_kind      = #{constructionplanKind,jdbcType=INTEGER},
            flowaudit_startDate        = #{flowauditStartdate,jdbcType=TIMESTAMP},
            deleteMark                 = #{deletemark,jdbcType=INTEGER},
            super_visor                = #{superVisor,jdbcType=INTEGER},
            supervisor_name            = #{supervisorName,jdbcType=VARCHAR},
            people_ids                 = #{peopleIds,jdbcType=VARCHAR},
            update_time                = #{updateTime,jdbcType=TIMESTAMP},
            update_state               = #{updateState,jdbcType=INTEGER},
            safetyOfficer_name         = #{safetyofficerName,jdbcType=VARCHAR},
            technician_name            = #{technicianName,jdbcType=VARCHAR},
            safety_officer             = #{safetyOfficer,jdbcType=INTEGER},
            create_date                = #{createDate,jdbcType=TIMESTAMP},
            technician                 = #{technician,jdbcType=INTEGER},
            supervisor_orgcode         = #{supervisorOrgcode,jdbcType=VARCHAR},
            supervisor_orgname         = #{supervisorOrgname,jdbcType=VARCHAR}
        where constructionPlan_id = #{constructionplanId,jdbcType=INTEGER}
    </update>
</mapper>